{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Home Page {% endblock %}

{% block content %}
<div class="col-12 container-fluid home-cover bg-succes">
    <div class="text-center col-12 col-md-8 cover-overlay pl-3 pr-3 pb-3">
      <div class="cover-text">
        <h1 class="d-none d-lg-block">Welcome to Ringlee House PreSchool</h1>
        <h2 class="d-none d-md-block d-lg-none">Welcome to Ringlee House PreSchool</h2>
        <h3 class="d-md-none">Welcome to Ringlee House PreSchool</h3>
      </div>
        <br>
        <div class="cover-text">
          <h4 class="d-none d-lg-block">"Where learning begins"</h4>
          <h5 class="d-none d-md-block d-lg-none">"Where learning begins"</h5>
          <h6 class="d-md-none">"Where learning begins"</h6>
        </div>
        <br>
        <button class="button purple-btn wiggle-btn mx-auto" onclick=''>
          See us in action!
        </button>      
    </div>
  </div>
{% endblock %}
