* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

a, a:hover{
    text-decoration: none;
}

body {
    background: url('https://ringleehousepreschool.s3.eu-west-1.amazonaws.com/media/ringlee1.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Poiret One';
    scroll-behavior: smooth;
}

/* --------------------------------------- HEADER STYLING ------------------------------------------- */

.logo {
    font-family: 'Poiret One';
    color: white;
}


.logo img {
    height: auto;
    width: 25%;
}

.logo h4 {
    color: white;
    margin-bottom: 0;
}

.navbar {
    background-color: rgb(17, 184, 221);
}


.navbar ul{
    margin: 0;
    padding: 0;
}

.navbar ul li{
    list-style: none;
}

.nav-item i{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border 0.2s ease-out;
}

.nav-item i:hover{
    border: 2px solid #ffffff8a;
}

.dropdown-item{
    color: #3a3a3a;
}

.dropdown-item:hover{
    background-color: #ac96a98a;
    color: black;
}

@media (max-width: 991.98px) {
    .nav-item i{
        font-size: 25px;
    }
}
