* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
a, a:hover{
    text-decoration: none;
    cursor: pointer;
}
.p-side{
    padding: 0 45px;
}
header{
    position: sticky;   
    background-color: purple; 
}
body {
    background: url('https://ringleehousepreschool.s3.eu-west-1.amazonaws.com/media/ringlee1.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Poiret One';
    font-weight: bolder;
    scroll-behavior: smooth;
}
/* --------------------------------------- HEADER STYLING ------------------------------------------- */
.logo {
    font-family: 'Dancing Script';
    color: white;
}
.logo h4 {
    color: white;
    margin-bottom: 0;
}
.navbar {
    background-color: purple;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style: none;
}
.nav-item i{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border 0.2s ease-out;
}
.nav-item i:hover{
    border: 2px solid #ffffff8a;
}
.dropdown-item{
    color: black;
}
.nav-item:focus, .nav-item:focus-visible{
    outline: none;
}
.dropdown-menu{
    left: auto;
    right: 0;
}
.dropdown-item:hover{
    background-color: #ac96a98a;
    color: black;
}
/* CATEGORIES NAVBAR STYLING */
.categories .dropdown-menu{
    right: auto;
    left: 0;
}
.categories a{
    color: white;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-out;
}
.categories a:hover{
    color: white;
    border-bottom: 2px solid #facef38a;
}
.categories .dropdown-menu a{
    color: inherit;
}
.navbar{
    padding: 0.5rem 0;
}
.navbar-toggler{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar-collapse{
    flex-direction: column-reverse;
}
@keyframes autoplay {
    0% {visibility: visible}
    50% {visibility: hidden}
  }

/* ADD-CONTAINER STYLING */
.add-container{
    font-weight: bold;
    position: relative;
    height: 25px;
}

.add-container .add{
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    animation: 6s autoplay infinite;
}
.add-container .add:nth-child(1) {
    animation-delay: 0s;
}

.add-container .add:nth-child(2) {
    animation-delay: 3s;
}


@media (max-width: 991.98px) {
    .nav-item i{
        font-size: 25px;
    }
}